.sub.board .selector,
.sub.board .reset,
.sub.board .list,
.sub.board .board-hue {
  display: none !important;
}

.perk-box {
  width: 150px;
  height: 100px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;
}

.perk-box img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  filter: invert(.5);
}

.perk-box.active {
  color: white;
}

.perk-box.active img {
  filter: none;
}

.perk-box:not(.active) {
  background: #ccc;
  color: #666;
}


.perk-box.locked {
  background: #999;
  color: #333;
  cursor: not-allowed;
}

#berzerker-perk.active {
  background: linear-gradient(to right, #8b0000, #ff0000);
}

#bongcloud-perk.active {
  background: linear-gradient(to right, #a18cd1, #fbc2eb);
}

#hue-master-perk.active {
  background: linear-gradient(to right, #43cea2, #185a9d);
}

#gambiteer-perk.active {
  background: linear-gradient(to right, #4b0082, #800080);
}

#endgame-specialist-perk.active {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}

#hot-streak-perk.active {
  background: linear-gradient(to right, #f12711, #f5af19);
}

#gladiator-perk.active {
  background: linear-gradient(to right, #434343, #000000);
}

#equalizer-perk.active {
  background: linear-gradient(to right, #006400, #228B22);
}

#rivalry-perk.active {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

#preparation-perk.active {
  background: linear-gradient(to right, #00B4DB, #0083B0);
}

#opportunist-perk.active {
  /* background: linear-gradient(to right, #d6a700, #008080); */
  /* background: linear-gradient(to right, #b8860b, #ffd700); */
  background: linear-gradient(to right, #daa520, #b8860b);
}


.perks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.perk-box span {
  font-size: 0.9em;
}

/* Custom tippy tooltip styles */
.tippy-box {
  padding: 10px;
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  line-height: 1.4;
}

.tippy-box[data-theme~='light'] {
  background-color: hsl(37, 10%, 92%);
  color: black;
  border: 1px solid hsl(37, 12%, 84%);
}

.tippy-box[data-theme~='dark'], 
.tippy-box[data-theme~='transp'] {
  background-color: hsl(37, 10%, 8%);
  color: white;
  border: 1px solid hsl(37, 12%, 16%);
}


.tippy-box .perk-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 8px;
}
  

.tippy-box[data-theme~='light'] .perk-icon {
  filter: invert(1);
}

.tippy-box[data-theme~='dark'] .perk-icon,
.tippy-box[data-theme~='transp'] .perk-icon {
  filter: invert(0);
}

.tippy-box .progress-perk-tooltip li + li {
  margin-top: 7px;
}

#hue-chess-settings-modal {
  width: 500px;
  font-family: 'Roboto', 'Noto Sans', sans-serif;
}

#hue-chess-settings-modal .dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hue-chess-settings-modal .section {
  width: 100%;
  margin-bottom: 20px;
}

#hue-chess-settings-modal h2 {
  margin-bottom: 20px;
}

#hue-chess-settings-modal .section h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

#hue-chess-settings-modal .section p {
  margin-bottom: 10px;
  font-size: 0.9em;
}

#hue-chess-settings-modal .import-export {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hue-chess-settings-modal .styled-button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #4a90e2;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

#hue-chess-settings-modal .styled-button:hover {
  background: #357ab8;
}

#hue-chess-settings-modal #import-input {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

#hue-chess-perks-modal .flash {
  margin: 1em 0 2em 0;
  padding: 1em 2em;
  background: var(--c-good);
  border-radius: 3px;
}

#hue-chess-perks-modal .flash-quiet {
  background: var(--c-bg-zebra);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}

#hue-chess-perks-modal .flash p {
  margin: 0;
}


